:root {
  --primary-color: #000;
  --dark-color: #e4e4e4;
  --light-color: #fafafa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  background: var(--dark-color);
}
.navbar {
  background: var(--light-color);
  height: 7vh;
  border: 1px #e4e4e4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 2px 6px rgba(0, 0, 0, 0.23);
}
.bg-white {
  background: var(--light-color);
  color: #000;
}
.container {
  display: flex;
  min-height: 93vh;
  overflow: hidden;
}
.dashboard {
  margin-top: 0.1vh;
  flex: 0.15;
  background: var(--light-color);
  border: 1px #e4e4e4;
}
.lists {
  display: flex;
  flex: 1;
}
.dashboardItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 20px;
  padding: 8px 0px;
  border-radius: 10rem;
  background: rgb(213, 216, 238);
}

.listsArea {
  flex: 0.9;
  margin: 3%;
}
.buttonArea {
  flex: 0.1;
}

button {
  width: 80%;
  margin: 10px;
  padding: 10px;
  border: 0;
  border-radius: 6px;
  background: #1836d5;
  color: #fff;
  font-weight: bold;
}
i:hover,
.addCard,
.dashboardItem:hover,
.addList:hover,
button:hover {
  cursor: pointer;
}
.addList {
  width: 20%;
  display: flex;
  justify-content: center;
  border: 2px rgb(194, 190, 190) dashed;
  padding: 5px;
  height: fit-content;
}

.listAreaElements {
  display: flex;
  justify-content: flex-start;
}

.list {
  display: flex;
  /* width: 100%; */
}
.listItem {
  margin-right: 10px;
  padding: 10px;
  min-width: 300px;
  background: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px #5d70cf solid;
}

.cards {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.card {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #fafafa;
  padding: 10px;
  min-height: 300px;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
}
.addCard {
  width: auto;
  display: flex;
  margin: 10px 10px 10px 0px;
  justify-content: center;
  border: 2px rgb(194, 190, 190) dashed;
  padding: 5px;
  height: fit-content;
}

.quill {
  /* height: 175px; */
}
.quillList {
  width: 100%;
  border: 2px rgb(194, 190, 190) dashed;
  height: 50px;
}
.quillCard {
  width: 355px;
  height: 170px;
}
